<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Copyright © 2024 RainBasera Corporation. All rights reserved.</span>
    </div>
</footer>